$color-primary: #F1CDB3;
$color-primary-light:#FDDCC4;

$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl:#FFFFFF;

$color-dark-s:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;

$h2: 2.75rem;
$h3: 2.187rem;
$h4: 1.25rem;
$h5: 0.9375rem;
$paragraph-l: 0.9375rem;
$paragraph-s: 0.75rem;


.h3-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: $h3;
	color: $color-dark-l;
	line-height: 130%;
	letter-spacing: 0.13rem;
}

.h4-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: 20px;
	line-height: 115%;
	letter-spacing: 0.07rem;
	
}

.btn-text {
	color: $color-dark-3xl;
	font-family: Georgia;
	font-weight: 400;
	font-size: 1.06rem;
	line-height: 130%;
	letter-spacing: 0.0625rem;
	text-decoration: none;
}


* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;
	
}

body {
	overflow-x: hidden;
}


.header {
	width: 100vw;
	position: absolute;
	top: 60px;

}

.wrapper {
	display: flex;
	// max-width: 1200px;
	max-width: 1280px;
	padding-left:40px;
	padding-right:40px;
	margin: 0 auto;
	justify-content: space-between;
	
	
}

.logo {
	display: flex;
	flex-direction: column;

	&__title {
		color: $color-primary;
		font-family: Georgia;
		font-weight: 400;
		font-size: 2rem;
		letter-spacing: 0.12rem;
		line-height: 110%;
		margin: 0;
		

	}

	&__subtitle {
		font-family: Arial;
		font-weight: 400;
		font-size: 0.8125rem;
		color: $color-light-xl;
		line-height: 110%;
		letter-spacing: 0.09rem;
		margin-top: 10px;
		text-align: center;
		// align-self: flex-end;
		

	}
}
 
.menu {
	display: flex;
	width: 443px;
	
}

.list {
	display: flex;
	list-style-type: none;
	width: 100%;
	justify-content: space-between;
	font-family: Arial;
	font-weight: 400;
	font-size: $paragraph-l;
	

	&__item {
		display: flex;
		align-items: center;
	}
 
	&__link {
		color: $color-light-xl;
		text-decoration: none;
		line-height: 160%	
	}

	&__link_disabled {
		color: $color-dark-s;
	}

	&__link_active {
		padding-top: 3px;
		border-bottom: solid 3px $color-primary;
	}

	&__link_disabled:hover {
		color: $color-light-xl;
		padding-top: 3px;
		border-bottom: solid 3px $color-primary;
	}


}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
		
}

.hero {
	padding-top: 180px;
	max-height: 908px;
	// height: 100vh;
	// display: flex;
	background: url(../../assets/main/images/noise_transparent@2x.png), 
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero-content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	// background-color: black;	
}

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 84px;

	&__title {
		font-size: $h2;
		font-family: Georgia;
		font-weight: 400;
		letter-spacing: 10%;
		line-height: 130%;
		color: $color-light-xl;
		max-width: 19.375rem;
	}

	&__subtitle {
		max-width: 28.75rem;
		margin-top: 2.625rem;
		font-size: $paragraph-l;
		font-family: Arial;
		font-weight: 400;
		line-height: 160%;
		color: $color-dark-s;
		 
	}

	&__button {
		padding: 15px 45px;
		width: 207px;
		text-decoration: none;
		border-radius: 100px; 
		background-color: $color-primary;
		margin-top: 41px;

		@extend .btn-text;

	}

	&__button:hover {
		background-color: $color-primary-light;
		cursor: pointer;
	}


}

.about {
	min-height: 588px;
	background-color: $color-light-xl;

	.about-content {
		width: 100%;
		display: flex;
		margin-top: 80px;
		// column-gap: 10%;
		justify-content: center;

		.about-content-wrapper {
			width: 850px;
			display: flex;
			justify-content: space-between;

			.about-text {	
				margin-top: 14px;
				display: flex;
				flex-direction: column;
				max-width: 430px;
	
				&__title {
					@extend .h3-block;
					max-width: 370px;
				}
				
				&__description {
					font-family: Arial;
					font-weight: 400;
					font-size: $paragraph-l;
					color: $color-dark-xl;
					line-height: 160%;
					padding-top: 25px;
					max-width: 430px;
	
				}
			}
		}
	}
}

.our-friends {
	min-height: 877px;
	background-color: $color-light-l;

	.our-friends-content {
		width: 100%;
		display: flex;
		flex-direction: column;
		margin-top: 80px;
		justify-content: space-between;

		.our-friends-title {
			@extend .h3-block;
			align-self: center;
			// max-width: 400px;
			text-align: center;	
		}

		.our-friends-slider {
			display: flex;
			justify-content: space-between;
			margin-top: 60px;
			align-items: center;

			.btn {
				width: 52px;
				height: 52px;
				border: 2px solid $color-primary;
				border-radius: 100%;
				padding-top: 17px;
				padding-left: 15px;
			}

			.btn:hover {
				cursor: pointer;
				background-color: $color-primary-light;
				border-color: $color-primary-light;
			}

			.btn-prev {
				padding-top: 17px;
				padding-left: 15px;
			}

			.btn-next {
				padding-top: 14px;
				padding-left: 17px;
			}
		}

		.our-friends-pets {
			display: flex;
			justify-content: space-between;
			width: 990px;

			.pet {
				display: flex;
				flex-direction: column;
				justify-content: space-evenly;
				align-items: center;
				width: 270px;
				height: 435px;
				background-color: $color-light-s;
				border-radius: 9px;

				// &__box {
				// 	width: 200px;
				// 	height: 240px;
				// 	background: url('../../assets/main/images/pets/pets-cat-katrine.png') center center / contain no-repeat ;
	
				// }

				// &__image {
				// 	display: block;
				// 	margin: 0 auto;
					
				// }

				&__name {
					font-family: Georgia;
					font-weight: 400;
					font-size: 1.25rem;
					line-height: 1.4375rem;
					letter-spacing: 0.08rem;
					color: $color-dark-l;
				}

				&__btn {
					width: 187px;
					height: 52px;
					border: 2px solid $color-primary;
					border-radius: 100px;
					padding-top: 13px;
					padding-left: 43px;

					@extend .btn-text;
				}

				&__btn:hover {
					background-color: $color-primary-light;
					border-color:$color-primary-light;
				}

				&__btn:disabled {
					border-color:$color-dark-s;
					color:$color-dark-s;
				}


      }

			.pet:hover {
				cursor: pointer;
				box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
				background-color: $color-light-xl;
			}
		}	

		.button-rest {
			align-self: center;
			width: 261px;
			height: 52px;
			border-radius: 100px;
			background-color: $color-primary;
			margin-top: 60px;
			padding-top: 15px;
			padding-left: 45px;
			@extend .btn-text
		}

		.button-rest:hover {
			background-color: $color-primary-light;
			cursor: pointer;		
		}
		
	
	}
}

.help {
	min-height: 611px;
	background-color: $color-light-xl;

	.help-content {
		width: 100%;
		margin-top: 80px;
		display: flex;
		flex-direction: column;
		

		.help-title {
			// max-width: 308px;
			align-self: center;
			text-align: center;
			@extend .h3-block;
		}

		.help-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			min-height: 281px;
			margin: 0 auto;
			margin-top: 60px;
			justify-content: center;
			align-content: space-between;
		}
	}

}

.help-item {
	margin-left: 60px;
	margin-right: 60px;
	// flex-basis: 205.2px;
	// width: 82px;
	height: 113px;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	// align-items: center;

	&__icon {
		display: block;
		margin: 0 auto;
		width: 60px;
		height: 60px;
	}

	&__name {
		display: block;
		margin: 0 auto;
		margin-top: 30px;
		color: $color-dark-l;
		font-family: Georgia;
		font-weight: 400;
		font-size: $h4;
		line-height: 115%;
		letter-spacing: 0.075rem;
		text-align: center;
	}
}	

.in-addition {
	min-height: 464px;
	background-color: $color-light-l;

	.in-addition-content{
		margin: 0 auto;
		margin-top: 80px;
		width: 915px;
		min-height: 284px;
		display: flex;
		justify-content: space-between;
		align-items: center;
		

		

		.information {
			max-width: 380px;
			min-height: 282px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			// column-gap: 30px;

			&__title {
				@extend .h3-block;
				max-width: 300px;
			}

			&__subtitle {
				color: $color-dark-l;
				font-size: $paragraph-l;;
				font-family: Georgia;
				font-weight: 400;
				line-height: 110%;
				letter-spacing: 0.055rem;
			}

			&__card {
				padding: 10px 15px;
				width: 349px;
				height: 43px;
				background-color: $color-primary;
				border-radius: 9px;

        @extend .h4-block;
				text-decoration: none;
				display: flex;
				align-items: center;
				color: $color-dark-l;

				span {
					padding-left: 15px;
				}
			}

			&__notes {
				color: $color-dark-m;
				font-family: Arial;
				font-style: italic;
				font-weight: 400;
				font-size: 0.75rem;
				line-height: 1.125rem;
				
			}
		}
	}
}

.footer {
	width: 100vw;
	min-height: 350px;
	background: url('../../assets/main/images/noise_transparent@2x.png'), 
	radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

	.footer-content {
		margin-top: 40px;
		width: 100%;
		display: flex; 
		justify-content: space-between;

		.contacts {
			width: 278px;
			height: 234px;
			margin-top: 16px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__title {
				@extend .h3-block;
				color: $color-light-xl;
				letter-spacing: 0.13rem;
			}
			
			&__mail {
				@extend .h4-block;
				color: $color-primary;
				text-decoration: none;
				display: flex;
				align-items: center;	
			}

			&__mail-text {
				padding-left: 20px;	
			}

			&__phone {
				@extend .h4-block;
				color: $color-primary;
				text-decoration: none;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
				display: flex;
				align-items: center;
			}

			&__phone-number {
				padding-left: 20px;				
			}
		}

		.location {
			width: 302px;
			height: 234px;
			margin-top: 16px;
			display: flex;
			flex-direction: column;
			justify-content: space-between;

			&__title {
				@extend .h3-block;
				color: $color-light-xl;
				letter-spacing: 0.13rem;
			}

			&__address {
				@extend .h4-block;
				color: $color-primary;
				text-decoration: none;
				display: flex;
				align-items: center;
			}

			&__address-text {
				padding-left: 20px;
			}
		}
	}
}