.h3-block, .about .about-content .about-content-wrapper .about-text__title, .our-friends .our-friends-content .our-friends-title, .help .help-content .help-title, .in-addition .in-addition-content .information__title, .footer .footer-content .contacts__title, .footer .footer-content .location__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 2.187rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.13rem;
}

.h4-block, .in-addition .in-addition-content .information__card, .footer .footer-content .contacts__mail, .footer .footer-content .contacts__phone, .footer .footer-content .location__address {
  font-family: Georgia;
  font-weight: 400;
  font-size: 20px;
  line-height: 115%;
  letter-spacing: 0.07rem;
}

.btn-text, .content-section__button, .our-friends .our-friends-content .our-friends-pets .pet__btn, .our-friends .our-friends-content .button-rest {
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.06rem;
  line-height: 130%;
  letter-spacing: 0.0625rem;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

.header {
  width: 100vw;
  position: absolute;
  top: 60px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  letter-spacing: 0.12rem;
  line-height: 110%;
  margin: 0;
}

.logo__subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.8125rem;
  color: #FFFFFF;
  line-height: 110%;
  letter-spacing: 0.09rem;
  margin-top: 10px;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 443px;
}

.list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: Arial;
  font-weight: 400;
  font-size: 0.9375rem;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 160%;
}

.list__link_disabled {
  color: #CDCDCD;
}

.list__link_active {
  padding-top: 3px;
  border-bottom: solid 3px #F1CDB3;
}

.list__link_disabled:hover {
  color: #FFFFFF;
  padding-top: 3px;
  border-bottom: solid 3px #F1CDB3;
}

.main {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 180px;
  max-height: 908px;
  background: url(../../assets/main/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 84px;
}

.content-section__title {
  font-size: 2.75rem;
  font-family: Georgia;
  font-weight: 400;
  letter-spacing: 10%;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 19.375rem;
}

.content-section__subtitle {
  max-width: 28.75rem;
  margin-top: 2.625rem;
  font-size: 0.9375rem;
  font-family: Arial;
  font-weight: 400;
  line-height: 160%;
  color: #CDCDCD;
}

.content-section__button {
  padding: 15px 45px;
  width: 207px;
  text-decoration: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 41px;
}

.content-section__button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.about {
  min-height: 588px;
  background-color: #FFFFFF;
}

.about .about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 80px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-content .about-content-wrapper {
  width: 850px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about .about-content .about-content-wrapper .about-text {
  margin-top: 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 430px;
}

.about .about-content .about-content-wrapper .about-text__title {
  max-width: 370px;
}

.about .about-content .about-content-wrapper .about-text__description {
  font-family: Arial;
  font-weight: 400;
  font-size: 0.9375rem;
  color: #4C4C4C;
  line-height: 160%;
  padding-top: 25px;
  max-width: 430px;
}

.our-friends {
  min-height: 877px;
  background-color: #F6F6F6;
}

.our-friends .our-friends-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 80px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-friends .our-friends-content .our-friends-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.our-friends .our-friends-content .our-friends-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends .our-friends-content .our-friends-slider .btn {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  padding-top: 17px;
  padding-left: 15px;
}

.our-friends .our-friends-content .our-friends-slider .btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends .our-friends-content .our-friends-slider .btn-prev {
  padding-top: 17px;
  padding-left: 15px;
}

.our-friends .our-friends-content .our-friends-slider .btn-next {
  padding-top: 14px;
  padding-left: 17px;
}

.our-friends .our-friends-content .our-friends-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 990px;
}

.our-friends .our-friends-content .our-friends-pets .pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 435px;
  background-color: #FAFAFA;
  border-radius: 9px;
}

.our-friends .our-friends-content .our-friends-pets .pet__name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 1.4375rem;
  letter-spacing: 0.08rem;
  color: #545454;
}

.our-friends .our-friends-content .our-friends-pets .pet__btn {
  width: 187px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100px;
  padding-top: 13px;
  padding-left: 43px;
}

.our-friends .our-friends-content .our-friends-pets .pet__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends .our-friends-content .our-friends-pets .pet__btn:disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
}

.our-friends .our-friends-content .our-friends-pets .pet:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.our-friends .our-friends-content .button-rest {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 261px;
  height: 52px;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 60px;
  padding-top: 15px;
  padding-left: 45px;
}

.our-friends .our-friends-content .button-rest:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.help {
  min-height: 611px;
  background-color: #FFFFFF;
}

.help .help-content {
  width: 100%;
  margin-top: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help .help-content .help-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.help .help-content .help-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 281px;
  margin: 0 auto;
  margin-top: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.help-item {
  margin-left: 60px;
  margin-right: 60px;
  height: 113px;
}

.help-item__icon {
  display: block;
  margin: 0 auto;
  width: 60px;
  height: 60px;
}

.help-item__name {
  display: block;
  margin: 0 auto;
  margin-top: 30px;
  color: #545454;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.25rem;
  line-height: 115%;
  letter-spacing: 0.075rem;
  text-align: center;
}

.in-addition {
  min-height: 464px;
  background-color: #F6F6F6;
}

.in-addition .in-addition-content {
  margin: 0 auto;
  margin-top: 80px;
  width: 915px;
  min-height: 284px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-addition .in-addition-content .information {
  max-width: 380px;
  min-height: 282px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.in-addition .in-addition-content .information__title {
  max-width: 300px;
}

.in-addition .in-addition-content .information__subtitle {
  color: #545454;
  font-size: 0.9375rem;
  font-family: Georgia;
  font-weight: 400;
  line-height: 110%;
  letter-spacing: 0.055rem;
}

.in-addition .in-addition-content .information__card {
  padding: 10px 15px;
  width: 349px;
  height: 43px;
  background-color: #F1CDB3;
  border-radius: 9px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
}

.in-addition .in-addition-content .information__card span {
  padding-left: 15px;
}

.in-addition .in-addition-content .information__notes {
  color: #B2B2B2;
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 0.75rem;
  line-height: 1.125rem;
}

.footer {
  width: 100vw;
  min-height: 350px;
  background: url("../../assets/main/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .footer-content {
  margin-top: 40px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-content .contacts {
  width: 278px;
  height: 234px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-content .contacts__title {
  color: #FFFFFF;
  letter-spacing: 0.13rem;
}

.footer .footer-content .contacts__mail {
  color: #F1CDB3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .contacts__mail-text {
  padding-left: 20px;
}

.footer .footer-content .contacts__phone {
  color: #F1CDB3;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .contacts__phone-number {
  padding-left: 20px;
}

.footer .footer-content .location {
  width: 302px;
  height: 234px;
  margin-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-content .location__title {
  color: #FFFFFF;
  letter-spacing: 0.13rem;
}

.footer .footer-content .location__address {
  color: #F1CDB3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .location__address-text {
  padding-left: 20px;
}
/*# sourceMappingURL=main.css.map */