$color-primary: #F1CDB3;
$color-primary-light:#FDDCC4;

$color-light-s:#FAFAFA;
$color-light-l:#F6F6F6;
$color-light-xl:#FFFFFF;

$color-dark-s:#CDCDCD;
$color-dark-m:#B2B2B2;
$color-dark-l:#545454;
$color-dark-xl:#4C4C4C;
$color-dark-2xl:#444444;
$color-dark-3xl:#292929;




:root {
	font-size: 10px;
}

@mixin h2-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: 4.4rem;
	line-height: 130%;
	color: $color-light-xl;
}

@mixin h3-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: 3.5rem;
	color: $color-dark-l;
	line-height: 130%;
	letter-spacing: 0.21rem;
}

@mixin h4-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: 2rem;
	line-height: 115%;
	letter-spacing: 0.12rem;
}

@mixin h5-block {
	font-family: Georgia;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 110%;
	letter-spacing: 0.09rem;
	color: $color-dark-l;
}

@mixin paragraph-l {
	font-family: Arial;
	font-weight: 400;
	font-size: 1.5rem;
	line-height: 160%;
}

@mixin paragraph-s {
	font-family: Arial;
	font-style: italic;
	font-weight: 400;
	font-size: 1.2rem;
	line-height: 150%;
	color: $color-dark-m;
}

@mixin btn-text {
	color: $color-dark-3xl;
	font-family: Georgia;
	font-weight: 400;
	font-size: 1.7rem;
	line-height: 130%;
	letter-spacing: 0.1rem;
	text-decoration: none;
}


* {
  margin: 0; 
  padding: 0;
	box-sizing: border-box;
	
}

body {
	overflow-x: hidden;
}


.header {
	width: 100vw;
	position: absolute;
	top: 6rem;

}

.wrapper {
	display: flex;
	max-width: 1280px;
	padding-left:40px;
	padding-right:40px;
	margin: 0 auto;
	justify-content: space-between;	
}

.logo {
	display: flex;
	flex-direction: column;

	&__title {
		color: $color-primary;
		font-family: Georgia;
		font-weight: 400;
		font-size: 3.2rem;
		letter-spacing: 0.192rem;
		line-height: 110%;
		margin: 0; 
	}

	&__subtitle {
		font-family: Arial;
		font-weight: 400;
		font-size: 1.3rem;
		color: $color-light-xl;
		line-height: 110%;
		letter-spacing: 0.13rem;
		margin-top: 1rem;
		text-align: center;
		// align-self: flex-end;
		

	}
}
 
.menu {
	display: flex;
	width: 44.3rem;
	// margin-top: 1.6rem;
	align-self: center;
	
}

.list {
	@include paragraph-l;
	display: flex;
	list-style-type: none;
	width: 100%;
	justify-content: space-between;
	
	
	

	&__item {
		
		display: flex;
		align-items: center;
	}
 
	&__link {
		color: $color-light-xl;
		text-decoration: none;
		line-height: 160%;
	}

	&__link_disabled {
		color: $color-dark-s;
	}

	&__link_active {
		color: $color-light-xl;
		padding-top: 3px;
		border-bottom: solid 3px $color-primary;
	}

	&__link_disabled:hover {
		color: $color-light-xl;
		// padding-top: 3px;
		// border-bottom: solid 3px $color-primary;
	}
	
	&__link_disabled:active {
		color: $color-light-xl;
		padding-top: 3px;
		border-bottom: solid 3px $color-primary;
	}


}

.main {
	width: 100vw;
	display: flex;
	flex-direction: column;
		
}

.hero {
	padding-top: 18rem;
	// max-height: 908px;
	// height: 100vh;
	// display: flex;
	background: url(../../assets/images/noise_transparent@2x.png), 
	radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero-content {
	display: flex;
	width: 100%;
	justify-content: space-between;
	// background-color: black;	
}

.content-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding-bottom: 8.4rem;

	&__title {
	  @include h2-block;
		max-width: 31rem;
	}

	&__subtitle {
		@include paragraph-l;
		color: $color-dark-s;
		max-width: 46rem;
		margin-top: 4.2rem;
		 
	}

	&__button {
		@include btn-text;
		padding: 1.5rem 4.5rem;
		width: 20.7rem;
		text-decoration: none;
		border-radius: 100px; 
		background-color: $color-primary;
		margin-top: 4.1rem;

		

	}

	&__button:hover {
		background-color: $color-primary-light;
		cursor: pointer;
	}


}

.about {
	// min-height: 588px;
	background-color: $color-light-xl;
	padding-top: 8rem;
	padding-bottom: 10rem;

	.about-content {
		width: 100%;
		display: flex;
		// margin-top: 8rem;
		// column-gap: 10%;
		justify-content: center;

		.about-content-wrapper {
			width: 85rem;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.about-text {	
				// margin-top: 14px;
				display: flex;
				flex-direction: column;
				max-width: 43rem;
	
				&__title {
					@include h3-block;
					max-width: 37rem;
				}
				
				&__description {
					@include paragraph-l;
					color: $color-dark-xl;
					padding-top: 2.5rem;
					// max-width: 430px;	
				}
			}
		}
	}
}

.our-friends {
	// min-height: 877px;
	background-color: $color-light-l;
	padding-top: 8rem;
	padding-bottom: 10rem;

	.our-friends-content {
		width: 100%;
		display: flex;
		flex-direction: column;
	
		justify-content: space-between;

		.our-friends-title {
			@include h3-block;
			align-self: center;
			// max-width: 400px;
			text-align: center;	
		}

		.our-friends-slider {
			display: flex;
			justify-content: space-between;
			margin-top: 6rem;
			align-items: center;

			.btn {
				width: 52px;
				height: 52px;
				border: 2px solid $color-primary;
				border-radius: 100%;
				background: none;
			}

			.btn:hover {
				cursor: pointer;
				background-color: $color-primary-light;
				border-color: $color-primary-light;
			}

			.btn:disabled {
				border-color:$color-dark-s;
				color:$color-dark-s;
				background: none;
				cursor: auto;
			}

			.btn:disabled > svg > path {
				
				fill:$color-dark-s;
				
			}

		}

		.our-friends-pets {
			display: flex;
			justify-content: space-between;
			width: 99rem;

			.pet {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				align-items: center;
				width: 27rem;
				height: 43.5rem;
				background-color: $color-light-s;
				border-radius: 0.9rem;
				padding-bottom: 3rem;


				// &__box {
				// 	width: 200px;
				// 	height: 240px;
				// 	background: url('../../assets/main/images/pets/pets-cat-katrine.png') center center / contain no-repeat ;
	
				// }

				// &__image {
				// 	display: block;
				// 	margin: 0 auto;
					
				// }

				&__name {
					font-family: Georgia;
					font-weight: 400;
					font-size: 2rem;
					line-height: 2.3rem;
					letter-spacing: 0.12rem;
					color: $color-dark-l;
				}

				&__btn {
					width: 18.7rem;
					height: 5.2rem;
					border: 2px solid $color-primary;
					border-radius: 10rem;
					padding-top: 1.3rem;
					// padding-left: 43px;
					text-align:center;

					@include btn-text;
				}

				&__btn:hover {
					background-color: $color-primary-light;
					border-color:$color-primary-light;
				}
      }

			.pet:hover {
				cursor: pointer;
				box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
				background-color: $color-light-xl;
			}
		}	

		.button-rest {
			align-self: center;
			width: 26.1rem;
			height: 5.2rem;
			border-radius: 10rem;
			background-color: $color-primary;
			margin-top: 6rem;
			padding-top: 1.5rem;
			// padding-left: 45px;
			text-align:center;
			@include btn-text;
		}

		.button-rest:hover {
			background-color: $color-primary-light;
			cursor: pointer;		
		}
		
	
	}
}

.help {
	// min-height: 611px;
	background-color: $color-light-xl;
	padding-top: 8rem;
	padding-bottom: 10rem;

	.help-content {
		width: 100%;
		// margin-top: 80px;
		display: flex;
		flex-direction: column;
		

		.help-title {
			// max-width: 308px;
			align-self: center;
			text-align: center;
			@include h3-block;
		}

		.help-list {
			width: 100%;
			display: flex;
			flex-wrap: wrap;
			min-height: 28.1rem;
			margin: 0 auto;
			margin-top: 6rem;
			justify-content: center;
			align-content: space-between;
		}
	}

}

.help-item {
	margin-left: 6rem;
	margin-right: 6rem;
	// flex-basis: 205.2px;
	// width: 82px;
	height: 11.3rem;
	// display: flex;
	// flex-direction: column;
	// justify-content: space-between;
	// align-items: center;

	&__icon {
		display: block;
		margin: 0 auto;
		width: 6rem;
		height: 6rem;
	}

	&__name {
		@include h4-block;
		display: block;
		margin: 0 auto;
		margin-top: 3rem;
		color: $color-dark-l;
		text-align: center;
	}
}	

.in-addition {
	// min-height: 464px;
	background-color: $color-light-l;
	padding-top: 8rem;
	padding-bottom: 10rem;


	.in-addition-content{
		margin: 0 auto;
		// margin-top: 80px;
		width: 91.5rem;
		min-height: 28.4rem;
		display: flex;
		justify-content: space-between;
		align-items: center;
		

		

		.information {
			max-width: 38rem;
			// min-height: 282px;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;
			// column-gap: 30px;

			&__title {
				@include h3-block;
				max-width: 30rem;
			}

			&__subtitle {
				@include h5-block;	
				margin-top: 2rem;
			}
			
			&__card {
				margin-top: 2rem;
				padding: 1rem 1.5rem;
				width: 34.9rem;
				height: 4.3rem;
				background-color: $color-primary;
				border-radius: 9px;

        @include h4-block;
				text-decoration: none;
				display: flex;
				align-items: center;
				color: $color-dark-l;
				letter-spacing: 0.115rem;

				span {
					padding-left: 1.5rem;
				}
			}

			&__notes {
				@include paragraph-s;
				margin-top: 2rem;
			}
		}
	}
}

.footer {
	width: 100vw;
	// min-height: 350px;
	padding-top: 4rem;
	background: url('../../assets/images/noise_transparent@2x.png'), 
	radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;

	.footer-content {
		// margin-top: 40px;
		width: 100%;
		display: flex; 
		justify-content: space-between;

		.contacts {
			width: 27.8rem;
			// height: 234px;
			margin-top: 1.6rem;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;

			&__title {
				@include h3-block;
				color: $color-light-xl;
				letter-spacing: 0.20rem;
			}
			
			&__mail {
				@include h4-block;
				color: $color-primary;
				text-decoration: none;
				display: flex;
				align-items: center;
				margin-top: 4rem;	
			}

			&__mail-text {
				padding-left: 2rem;	
			}

			&__phone {
				@include h4-block;
				color: $color-primary;
				text-decoration: none;
				text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
				display: flex;
				align-items: center;
				margin-top: 4rem;

			}

			&__phone-number {
				padding-left: 2rem;				
			}
		}

		.location {
			width: 30.2rem;
			// height: 234px;
			margin-top: 1.6rem;
			display: flex;
			flex-direction: column;
			// justify-content: space-between;

			&__title {
				@include h3-block;
				color: $color-light-xl;
				letter-spacing: 0.21rem;
			}

			&__address1 {
				margin-top: 3.4rem;
				@include h4-block;
				color: $color-primary;
				text-decoration: none;
				display: flex;
				align-items: center;
			}

			&__address2 {
				margin-top: 3.2rem;
				@include h4-block;
				color: $color-primary;
				text-decoration: none;
				display: flex;
				align-items: center;
			}

			&__address-text {
				padding-left: 2rem;
			}
		}
	}
}