:root {
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header {
  width: 100%;
  position: absolute;
  top: 6rem;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.logo__title {
  color: #F1CDB3;
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.2rem;
  letter-spacing: 0.192rem;
  line-height: 110%;
  margin: 0;
}

.logo__subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.3rem;
  color: #FFFFFF;
  line-height: 110%;
  letter-spacing: 0.13rem;
  margin-top: 1rem;
  text-align: center;
}

.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 44.3rem;
  padding-bottom: 0.3rem;
}

.list {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.list__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.list__link {
  color: #FFFFFF;
  text-decoration: none;
  line-height: 160%;
}

.list__link_disabled {
  color: #CDCDCD;
}

.list__link_active {
  color: #FFFFFF;
  padding-top: 3px;
  border-bottom: solid 3px #F1CDB3;
}

.list__link_disabled:hover {
  color: #FFFFFF;
}

.list__link_disabled:active {
  color: #FFFFFF;
  padding-top: 3px;
  border-bottom: solid 3px #F1CDB3;
}

.main {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hero {
  padding-top: 18rem;
  background: url(../../assets/images/noise_transparent@2x.png), radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.content-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-bottom: 8.0rem;
}

.content-section__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 4.4rem;
  line-height: 130%;
  color: #FFFFFF;
  max-width: 31rem;
}

.content-section__subtitle {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #CDCDCD;
  max-width: 46rem;
  margin-top: 4.1rem;
}

.content-section__button {
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-decoration: none;
  padding: 1.5rem 4.5rem;
  width: 20.7rem;
  text-decoration: none;
  border-radius: 100px;
  background-color: #F1CDB3;
  margin-top: 4.1rem;
}

.content-section__button:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.about {
  background-color: #FFFFFF;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.about .about-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.about .about-content .about-content-wrapper {
  width: 85rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .about-content .about-content-wrapper .about-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 43rem;
}

.about .about-content .about-content-wrapper .about-text__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
  max-width: 37rem;
}

.about .about-content .about-content-wrapper .about-text__description {
  font-family: Arial;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 160%;
  color: #4C4C4C;
  padding-top: 2.5rem;
}

.our-friends {
  background-color: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.our-friends .our-friends-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.our-friends .our-friends-content .our-friends-title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
}

.our-friends .our-friends-content .our-friends-slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 6rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.our-friends .our-friends-content .our-friends-slider .btn {
  width: 52px;
  height: 52px;
  border: 2px solid #F1CDB3;
  border-radius: 100%;
  background: none;
}

.our-friends .our-friends-content .our-friends-slider .btn:hover {
  cursor: pointer;
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends .our-friends-content .our-friends-slider .btn:disabled {
  border-color: #CDCDCD;
  color: #CDCDCD;
  background: none;
  cursor: auto;
}

.our-friends .our-friends-content .our-friends-slider .btn:disabled > svg > path {
  fill: #CDCDCD;
}

.our-friends .our-friends-content .our-friends-pets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 99rem;
}

.our-friends .our-friends-content .our-friends-pets .pet {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 27rem;
  height: 43.5rem;
  background-color: #FAFAFA;
  border-radius: 0.9rem;
  padding-bottom: 3rem;
}

.our-friends .our-friends-content .our-friends-pets .pet__name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 2.3rem;
  letter-spacing: 0.12rem;
  color: #545454;
}

.our-friends .our-friends-content .our-friends-pets .pet__btn {
  width: 18.7rem;
  height: 5.2rem;
  border: 2px solid #F1CDB3;
  border-radius: 10rem;
  padding-top: 1.3rem;
  text-align: center;
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.our-friends .our-friends-content .our-friends-pets .pet__btn:hover {
  background-color: #FDDCC4;
  border-color: #FDDCC4;
}

.our-friends .our-friends-content .our-friends-pets .pet:hover {
  cursor: pointer;
  -webkit-box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
          box-shadow: 0px 2px 35px 14px rgba(13, 13, 13, 0.04);
  background-color: #FFFFFF;
}

.our-friends .our-friends-content .button-rest {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  width: 26.1rem;
  height: 5.2rem;
  border-radius: 10rem;
  background-color: #F1CDB3;
  margin-top: 6rem;
  padding-top: 1.5rem;
  text-align: center;
  color: #292929;
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.7rem;
  line-height: 130%;
  letter-spacing: 0.1rem;
  text-decoration: none;
}

.our-friends .our-friends-content .button-rest:hover {
  background-color: #FDDCC4;
  cursor: pointer;
}

.help {
  background-color: #FFFFFF;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.help .help-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.help .help-content .help-title {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  text-align: center;
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
}

.help .help-content .help-list {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  min-height: 28.1rem;
  margin: 0 auto;
  margin-top: 6rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.help-item {
  margin-left: 6rem;
  margin-right: 6rem;
  height: 11.3rem;
}

.help-item__icon {
  display: block;
  margin: 0 auto;
  width: 6rem;
  height: 6rem;
}

.help-item__name {
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  display: block;
  margin: 0 auto;
  margin-top: 3rem;
  color: #545454;
  text-align: center;
}

.in-addition {
  background-color: #F6F6F6;
  padding-top: 8rem;
  padding-bottom: 10rem;
}

.in-addition .in-addition-content {
  margin: 0 auto;
  width: 91.5rem;
  min-height: 28.4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.in-addition .in-addition-content .information {
  max-width: 38rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.in-addition .in-addition-content .information__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
  max-width: 30rem;
}

.in-addition .in-addition-content .information__subtitle {
  font-family: Georgia;
  font-weight: 400;
  font-size: 1.5rem;
  line-height: 110%;
  letter-spacing: 0.09rem;
  color: #545454;
  margin-top: 2rem;
}

.in-addition .in-addition-content .information__card {
  margin-top: 2rem;
  padding: 1rem 1.5rem;
  width: 34.9rem;
  height: 4.3rem;
  background-color: #F1CDB3;
  border-radius: 9px;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #545454;
  letter-spacing: 0.115rem;
}

.in-addition .in-addition-content .information__card span {
  padding-left: 1.5rem;
}

.in-addition .in-addition-content .information__notes {
  font-family: Arial;
  font-style: italic;
  font-weight: 400;
  font-size: 1.2rem;
  line-height: 150%;
  color: #B2B2B2;
  margin-top: 2rem;
}

.footer {
  width: 100%;
  padding-top: 4rem;
  background: url("../../assets/images/noise_transparent@2x.png"), radial-gradient(110.67% 538.64% at 5.73% 50%, #513D2F 0%, #1A1A1C 100%), #211F20;
}

.footer .footer-content {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.footer .footer-content .contacts {
  width: 27.8rem;
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-content .contacts__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
  letter-spacing: 0.20rem;
}

.footer .footer-content .contacts__mail {
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.footer .footer-content .contacts__mail-text {
  padding-left: 2rem;
}

.footer .footer-content .contacts__phone {
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
  text-decoration: none;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
}

.footer .footer-content .contacts__phone-number {
  padding-left: 2rem;
}

.footer .footer-content .location {
  width: 30.2rem;
  margin-top: 1.6rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer .footer-content .location__title {
  font-family: Georgia;
  font-weight: 400;
  font-size: 3.5rem;
  color: #545454;
  line-height: 130%;
  letter-spacing: 0.21rem;
  color: #FFFFFF;
  letter-spacing: 0.21rem;
}

.footer .footer-content .location__address1 {
  margin-top: 3.4rem;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .location__address2 {
  margin-top: 3.2rem;
  font-family: Georgia;
  font-weight: 400;
  font-size: 2rem;
  line-height: 115%;
  letter-spacing: 0.12rem;
  color: #F1CDB3;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer .footer-content .location__address-text {
  padding-left: 2rem;
}
/*# sourceMappingURL=main.css.map */