.footer {
  display: flex;
  justify-content: center;
  height: 80px;

  &__wrapper {
    width: 280px;
    height: 80px;

    @include flex-space;

    .year,
    .author {
      color: $color-h;
    }

    .github {
      transition: color 0.5s ease-out;
    }

    .github:hover {
      color: $color-e;
    }

    .rs-logo {
      transition: all 0.5s ease-out;
    }

    .rs-logo:hover {
      transform: scale(1.1);
    }
  }
}
