@import "normalize";

// @font-face {
//   font-family: "Nerko One";

//   src: url(../assets/fonts/nerko-one/NerkoOne-Regular.ttf);
// }

@font-face {
  font-style: normal;
  font-family: "Balsamiq Sans";

  src: url(../assets/fonts/balsamiq-sans/BalsamiqSans-Regular.ttf);
}

// @font-face {
//   font-family: "Balsamiq Sans";
//   font-style: bold;
//   src: url(../assets/fonts/balsamiq-sans/BalsamiqSans-Bold.ttf);
// }

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.body {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.blackout {
  position: absolute;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: transparent;
}

.blackout-show {
  display: block;
}

.blackout-hide {
  display: none;
}

.menu {
  position: absolute;
  left: 0;
  z-index: 3;
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100%;
  font-size: 20px;
  font-family: "Balsamiq Sans";
  color: white;
  background-color: #52c1fb;
  // transition: left 1s ease-out;
  // justify-content: space-between;
  // animation: menu-show 1s normal;

  .menu-close {
    align-self: flex-end;
    margin-top: 20px;
    margin-right: 20px;
    transition: transform 0.5s ease-out;
  }

  .menu-close:hover {
    transform: scale(1.1);
    cursor: pointer;
  }

  .menu-list {
    display: flex;
    flex-direction: column;
    margin-left: 30px;

    .main-item {
      width: 170px;
      height: 50px;
      padding-top: 15px;
      text-align: center;
      // padding-left: 20px;
      // text-decoration: underline;
      transition: transform 0.5s ease-out;
    }

    .menu-item {
      display: flex;
      width: 170px;
      height: 50px;
      margin-top: 20px;
      transition: transform 0.5s ease-out;

      .menu-title {
        align-self: center;
        margin-left: 10px;
      }
    }

    .main-item:hover,
    .menu-item:hover {
      transform: scale(1.1);
      cursor: pointer;
    }

    .item-enabled {
      background-color: #6dbd83 ;
      border-radius: 5px;
    }
  }
}

.menu-none {
  display: none;
}

.menu-show {
  top: 0;
  left: 0;
  animation: show-menu 0.5s normal;
}

.menu-hide {
  top: 0;
  left: -250px;
  animation: hide-menu 0.5s normal;
}



.header {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  padding-right: 5%;
  padding-left: 5%;

  &__hamburger {
    width: 40px;
    height: 40px;
    background-image: url("../assets/icons/bars-solid.svg");
  }

  &__hamburger:hover {
    cursor: pointer;
  }



  .hamburger-rotate {
    transform: rotate(90deg);
    transition: transform 0.5s ease-out;
  }

  .humburger-unrotate {
    transform: rotate(0deg);
    transition: transform 0.5s ease-out;
  }

  &__logo {
    position: absolute;
    left: 50%;
    font-size: 40px;
    font-family: "Balsamiq Sans";
    transform: translateX(-50%);
    // color: #52c1fb;
  }

  &__switcher {
    position: relative;
    display: flex;
    // justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 45px;
    font-size: 20px;
    font-family: "Balsamiq Sans";
    background-color: #52c1fb;
    border-radius: 45px;
    cursor: pointer;

    &_train {
      background-color: #52c1fb;
    }

    &_play {
      // flex-direction: row-reverse;
      background-color: #6dbd83;
    }

    .switcher__handle {
      position: absolute;
      // top: 5px;
      left: 2px;
      width: 35px;
      height: 35px;
      background-color: #ffffff;
      border-radius: 50%;
      transition: all 0.5s ease-out;
    }

    .switcher__handle_right {
      transform: translateX(81px);
    }



    .switcher__train,
    .switcher__play {
      position: absolute;
      width: 83px;
      text-align: center;
      color: #ffffff;
      text-transform: uppercase;
    }

    .switcher__play {
      left: 0;
      display: none;
    }

    .switcher__train {
      // display: none;
      left: 37px;
    }
  }
}

.main {
  display: flex;
  justify-content: center;
  // align-items: center; 
  .main-container {
    display: flex;
    // flex-wrap: wrap;
    width: 1280px;
    min-height: calc(100vh - 200px);
    // padding-right: 20px;
    // padding-left: 20px;
    // margin-top: 100px;
    // margin-bottom: 100px;

    .all-categories {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: center;
      width: 100%;
      height: 100%;

      .category-box {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 280px;
        height: 250px;
        margin-top: 20px;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px solid black;
        border-radius: 5px;
        box-shadow: 0 10px 10px rgba(0,0,0,0.25);
        transition: transform 0.5s ease-out;

        .card-title {
          margin-top: 10px;
          font-size: 25px;
          font-family: "Balsamiq Sans";
        }
      }

      .category-box:hover {
        transform: scale(1.05);
        cursor: pointer;
      }
    }

    .category-container {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;

      .category-title {
        align-self: center;
        font-size: 35px;
        font-family: "Balsamiq Sans";
      }

      .category-card-box {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        width: 100%;


        .card-box {
          position: relative;
          width: 280px;
          height: 250px;
          margin-top: 20px;
          margin-right: 20px;
          margin-left: 20px;
          // background-color: transparent;
          border: 1px solid black;
          border-radius: 5px;
          box-shadow: 0 10px 10px rgba(0,0,0,0.25);
          // backface-visibility: hidden;
          perspective: 1000px;
          transform-style: preserve-3d;
          transition: transform 0.7s ease-out;


          .card-box-front,
          .card-box-back {
            position: absolute;
            z-index: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            height: 100%;
            // background-color: white;
            backface-visibility: hidden;
            // transition: 1s;
            transition: transform 0.5s ease-out;

            .card-image {
              transition: transform 0.5s ease-out;
            }

            .card-description {
              position: relative;
              display: flex;
              justify-content: center;
              width: 100%;
              margin-bottom: 15px;

              .card-title {
                font-size: 25px;
                font-family: "Balsamiq Sans";
              }

              .card-btn {
                position: absolute;
                right: 10px;
                width: 30px;
                height: 30px;
                background-color: white;
                background-image: url("../assets/icons/arrow.png");
                background-size: contain;
                border: none;
                outline: none;
                // transition: transform 0.5s ease-out;
              }

              .card-btn:hover {
                transform: rotate(-360deg);
                transition: transform 0.5s ease-out;
              }
            }
          }

          .card-box-back {
            // background-color: red;
            transform: rotateY(180deg);
          }

          .card-box-front:hover .card-image {
            // background-color: red;
            transform: scale(0.95);
          }
        }

        .card-box-rotate {
          transform: rotateY(180deg);

          // transition: transform 0.6s;
        }

        .card-box:hover {
          // transform: scale(1.05);
          cursor: pointer;
        }
      }
    }

    .container-hide {
      display: none;
    }
  }
}
.footer {
  display: flex;
  justify-content: center;
  height: 100px;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 280px;
    height: 100px;

    .year,
    .author {
      color: gray;
    }

    .github {
      transition: color 0.5s ease-out;
    }

    .github:hover {
      color: black;
    }

    .rs-logo {
      transition: all 0.5s ease-out;
    }

    .rs-logo:hover {
      transform: scale(1.1);
    }
  }
}

@keyframes show-menu {
  from {
    left: -250px;
  }
  to {
    left: 0;
  }
}

@keyframes hide-menu {
  from {
    left: 0;
  }
  to {
    left: -250px;
  }
}
