@mixin font16 {
  font-size: 16px;
  font-family: $font-main;
}

@mixin font20 {
  font-size: 20px;
  font-family: $font-main;
}

@mixin font35 {
  font-size: 35px;
  font-family: $font-main;
}

@mixin font40 {
  font-size: 40px;
  font-family: $font-main;
}

@mixin flex($justify: center) {
  display: flex;
  justify-content: $justify;
}

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-space($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: space-between, $align: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column-center($justify: center, $align: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin flexwrap ($justify: center, $align: center) {
  display: flex;
  flex-wrap: wrap;
  justify-content: $justify;
  align-content: $align;
}
