@mixin font16($font-main: "Balsamiq Sans") {
  font-size: 16px;
  font-family: $font-main;
}

@mixin font20($font-main: "Balsamiq Sans") {
  font-size: 20px;
  font-family: $font-main;
}

@mixin font40($font-main: "Balsamiq Sans") {
  font-size: 40px;
  font-family: $font-main;
}

@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-space($justify: space-between, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin flex-column($justify: space-between, $align: center, $direction: column) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}
